body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}

.top {
	display: table;
	height: 100%;
	width: 100%;
}

.top>.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1 {
	font-weight: 100;
	font-size: 72px;
	margin: 0;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}

.container {
	padding: 200px;
	padding-top: 75px;
	padding-bottom: 75px;
	border-style: solid;
	border-width: 0;
	border-color: #F5F5F5;
	border-top-width: 1px;
	text-align: center;
}

a {
	text-decoration: none;
}